*{
    margin: 0;
    padding: 0;
}

#wrapperForm {
    margin: 10px auto;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.row {
    padding: 15px 0 0 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.fieldLabel {
    margin: 0 0 4px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

#wrapperForm input[type=text],
#wrapperForm input[type=date],
#wrapperForm input[type=datetime],
#wrapperForm input[type=number],
#wrapperForm input[type=search],
#wrapperForm input[type=time],
#wrapperForm input[type=url],
#wrapperForm input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

    #wrapperForm input[type=text]:focus,
    #wrapperForm input[type=date]:focus,
    #wrapperForm input[type=datetime]:focus,
    #wrapperForm input[type=number]:focus,
    #wrapperForm input[type=search]:focus,
    #wrapperForm input[type=time]:focus,
    #wrapperForm input[type=url]:focus,
    #wrapperForm input[type=email]:focus,
    #wrapperForm textarea:focus,
    #wrapperForm select:focus {
        -moz-box-shadow: 0 0 8px #88D5E9;
        -webkit-box-shadow: 0 0 8px #88D5E9;
        box-shadow: 0 0 8px #88D5E9;
        border: 1px solid #88D5E9;
    }

#wrapperForm .field-divided {
    width: 49%;
}

#wrapperForm .field-long {
    width: 100%;
}

#wrapperForm .field-select {
    width: 100%;
}

#wrapperForm .field-textarea {
    height: 100px;
}

#wrapperForm input[type=submit], #wrapperForm input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

    #wrapperForm input[type=submit]:hover, #wrapperForm input[type=button]:hover {
        background: #4691A4;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

#wrapperForm .required {
    color: red;
}

#parameters,
#outputText {
    height: 300px;
}

.highcharts-background {
    stroke-width: 1px;
    stroke: #BEBEBE;
}

.inputTBoxes {
    height: 35px;
}

/* some simple demo styles for all collapsibles on this page */
.wrapperForm-header,
.wrapperForm-content {
    border: 1px solid #ccc;
    padding: .7em 35px;
    font-size: 1em;
    margin-top: 0;
    background-color: #fff;
}

.wrapperForm-content {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.wrapperForm-header {
    margin-bottom: 0;
    cursor: pointer;
    background: url(img/tri-down.png) 10px 50% no-repeat;
}

    .wrapperForm-header:focus {
        background-color: #eee;
    }

.wrapperForm-collapsed .wrapperForm-header {
    background-image: url(img/tri-right.png);
}